// Brandon Grotesque
@font-face {
    font-family: 'Brandon Grotesque Regular';
    src: url('/assets/fonts/BrandonGrotesque/BrandonGrotesqueRegular/BrandonGrotesque-Regular.eot');
    src: url('/assets/fonts/BrandonGrotesque/BrandonGrotesqueRegular/BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/BrandonGrotesque/BrandonGrotesqueRegular/BrandonGrotesque-Regular.woff2') format('woff2'),
        url('/assets/fonts/BrandonGrotesque/BrandonGrotesqueRegular/BrandonGrotesque-Regular.woff') format('woff'),
        url('/assets/fonts/BrandonGrotesque/BrandonGrotesqueRegular/BrandonGrotesque-Regular.ttf') format('truetype'),
        url('/assets/fonts/BrandonGrotesque/BrandonGrotesqueRegular/BrandonGrotesque-Regular.svg#BrandonGrotesque-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Brandon Grotesque Light
@font-face {
    font-family: 'Brandon Grotesque Light';
    src: url('/assets/fonts/BrandonGrotesque/BrandonGrotesqueLight/BrandonGrotesque-Light.eot');
    src: url('/assets/fonts/BrandonGrotesque/BrandonGrotesqueLight/BrandonGrotesque-Light.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/BrandonGrotesque/BrandonGrotesqueLight/BrandonGrotesque-Light.woff2') format('woff2'),
        url('/assets/fonts/BrandonGrotesque/BrandonGrotesqueLight/BrandonGrotesque-Light.woff') format('woff'),
        url('/assets/fonts/BrandonGrotesque/BrandonGrotesqueLight/BrandonGrotesque-Light.ttf') format('truetype'),
        url('/assets/fonts/BrandonGrotesque/BrandonGrotesqueLight/BrandonGrotesque-Light.svg#BrandonGrotesque-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

// Brandon Grotesque Black
@font-face {
    font-family: 'Brandon Grotesque Black';
    src: url('/assets/fonts/BrandonGrotesque/BrandonGrotesqueBlack/BrandonGrotesque-Black.eot');
    src: url('/assets/fonts/BrandonGrotesque/BrandonGrotesqueBlack/BrandonGrotesque-Black.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/BrandonGrotesque/BrandonGrotesqueBlack/BrandonGrotesque-Black.woff2') format('woff2'),
        url('/assets/fonts/BrandonGrotesque/BrandonGrotesqueBlack/BrandonGrotesque-Black.woff') format('woff'),
        url('/assets/fonts/BrandonGrotesque/BrandonGrotesqueBlack/BrandonGrotesque-Black.ttf') format('truetype'),
        url('/assets/fonts/BrandonGrotesque/BrandonGrotesqueBlack/BrandonGrotesque-Black.svg#BrandonGrotesque-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

// Brandon Grotesque Bold
@font-face {
    font-family: 'Brandon Grotesque Bold';
    src: url('/assets/fonts/BrandonGrotesque/BrandonGrotesqueBold/BrandonGrotesque-Bold.eot');
    src: url('/assets/fonts/BrandonGrotesque/BrandonGrotesqueBold/BrandonGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/BrandonGrotesque/BrandonGrotesqueBold/BrandonGrotesque-Bold.woff2') format('woff2'),
        url('/assets/fonts/BrandonGrotesque/BrandonGrotesqueBold/BrandonGrotesque-Bold.woff') format('woff'),
        url('/assets/fonts/BrandonGrotesque/BrandonGrotesqueBold/BrandonGrotesque-Bold.ttf') format('truetype'),
        url('/assets/fonts/BrandonGrotesque/BrandonGrotesqueBold/BrandonGrotesque-Bold.svg#BrandonGrotesque-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

// Brandon Grotesque Regular Italic
@font-face {
    font-family: 'Brandon Grotesque Regular Italic';
    src: url('/assets/fonts/BrandonGrotesque/BrandonGrotesqueRegularItalic/BrandonGrotesque-RegularItalic.eot');
    src: url('/assets/fonts/BrandonGrotesque/BrandonGrotesqueRegularItalic/BrandonGrotesque-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/BrandonGrotesque/BrandonGrotesqueRegularItalic/BrandonGrotesque-RegularItalic.woff2') format('woff2'),
        url('/assets/fonts/BrandonGrotesque/BrandonGrotesqueRegularItalic/BrandonGrotesque-RegularItalic.woff') format('woff'),
        url('/assets/fonts/BrandonGrotesque/BrandonGrotesqueRegularItalic/BrandonGrotesque-RegularItalic.ttf') format('truetype'),
        url('/assets/fonts/BrandonGrotesque/BrandonGrotesqueRegularItalic/BrandonGrotesque-RegularItalic.svg#BrandonGrotesque-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

// Brandon Grotesque Medium
@font-face {
    font-family: 'Brandon Grotesque Medium';
    src: url('/assets/fonts/BrandonGrotesque/BrandonGrotesqueMedium/BrandonGrotesque-Medium.eot');
    src: url('/assets/fonts/BrandonGrotesque/BrandonGrotesqueMedium/BrandonGrotesque-Medium.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/BrandonGrotesque/BrandonGrotesqueMedium/BrandonGrotesque-Medium.woff2') format('woff2'),
        url('/assets/fonts/BrandonGrotesque/BrandonGrotesqueMedium/BrandonGrotesque-Medium.woff') format('woff'),
        url('/assets/fonts/BrandonGrotesque/BrandonGrotesqueMedium/BrandonGrotesque-Medium.ttf') format('truetype'),
        url('/assets/fonts/BrandonGrotesque/BrandonGrotesqueMedium/BrandonGrotesque-Medium.svg#BrandonGrotesque-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

