.app-features-container {
    border-bottom: 1px solid $midnightBlue;
    padding: 65.3px 0 80px 0;
    position: relative;
    max-width: $contentWidth;
    margin: 0 auto 41px auto;
    @include media-xs {
        padding: 33.8px 0 39px 0;
        margin: 0 auto 10px auto;
    }
    @include media-sm {
        padding: 60px 0;
    }
    @include media-sm {
        padding: 40px 0;
    }
    &:before {
        content: "";
        width: 71.7px;
        height: 13.65px;
        background-image: url("../../../assets/images/icons/color-icons.png");
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .app-features-intro {
        text-align: center;
        @include media-xs {
            margin-bottom: 5px;
            padding: 0px 30px;
        }
        h2 {
            text-transform: uppercase;
            margin-bottom: 43.4px;
            @include media-xs {
                font-size: 20px;
                line-height: 24.03px;
                margin-bottom: 10px;
            }
        }
        p {
            color: $midnightBlue;
            font-size: 22px;
            line-height: 26.4px;
            font-family: $brandonGrotesque;
            margin: 0 auto;
            display: block;
            width: 75%;
            @include media-xs {
                width: 88%;
                font-size: 20px;
                line-height: 24px;
            }
            @include media-sm {
                width: 100%;
            }
            @include media-md {
                width: 91%;
            }
        }
    }
    .app-features-content {
        padding: 76px 0 40px 0;
        font-size: 0;
        margin: 0 auto;
        display: block;
        width: 83%;
        @include media-xs {
            padding: 10px 20px;
            width: 100%;
        }
        @include media-sm {
            width: 100%;
            padding: 66px 0 30px 0;
        }
        @include media-md {
            padding: 66px 0 30px 0;
        }
        @include media-md {
            width: 90%;
        }
        .app-features-center {
            display: inline-block;
            width: 33.333%;
            vertical-align: middle;
            img {
                margin: 0 auto;
            }
            @include media-xs {
                display: none;
            }
        }
        .app-features-left {
            display: inline-block;
            width: 33.333%;
            vertical-align: middle;
            @include media-xs {
                width: 100%;
            }
            .app-features-item {
                img {
                    height: 51.78px;
                    width: 51.78px;
                    margin-bottom: 12px;
                    @include media-xs {
                        margin-bottom: 0;
                        margin-right: 10.4px;
                        vertical-align: top;
                    }
                }
            }
        }
        .app-features-right {
            display: inline-block;
            width: 33.333%;
            vertical-align: middle;
            @include media-xs {
                width: 100%;
            }
            .app-features-item {
                &:last-child {
                    @include media-xs {
                        margin-bottom: 10px;
                    }
                }
                img {
                    height: 51.78px;
                    width: 51.78px;
                    margin-bottom: 12px;
                    @include media-xs {
                        margin-bottom: 0;
                        margin-right: 10.4px;
                        vertical-align: top;
                    }
                }
            } 
        }
        .app-features-item {
            text-align: center;
            margin: 0 auto;
            width: 63%;
            min-height: 220px;
            @include media-xs {
                min-height: initial;
                text-align: left;
                width: 100%;
                margin-bottom: 20px;
            }
            @include media-sm {
                width: 83%;
            }
            @include media-md {
                width: 71%;
            }
            .app-features-item-content {
                @include media-xs {
                    display: inline-block;
                    width: 75%;
                    vertical-align: top;
                }
            }
            p {
                color: $midnightBlue;
                font-family: $brandonGrotesque;
                font-size: 18px;
                line-height: 22px;
                display: block;
                @include media-xs {
                    font-size: 16px;
                    line-height: 19.2px;
                }
            }
            span {
                color: $midnightBlue;
                text-transform: uppercase;
                font-family: $brandonGrotesqueBold;
                font-size: 18px;
                line-height: 22px;
                display: block;
                @include media-xs {
                    font-size: 16px;
                    line-height: 19.2px;
                }
            }
            img {
                display: inline-block;
            }
        }
    }
    .download-app {
        text-align: center;
        &.ios-app {
            @include media-xs {
                margin-top: 0;
            }
        }
    }
}
.app-features-hr {
    border-bottom: 1px solid $midnightBlue;
    position: relative;
    top: -43px;
    margin: 0;
    @include media-xs {
        top: -11px;
    }
}