.error-page-container {
    background-color: $redRibbon;
    height: 100%;
    min-height: 682px;
    @include media-xs {
        min-height: 450px;
    }
    .error-page-content {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        max-width: $contentWidth;
        margin: 0 auto;
        text-align: center;
        padding-top: 100px;
        h2 {
            display: block;
            flex: 1 1 100%;
            margin-bottom: 10px;
        }
        h3 {
            display: block;
            flex: 1 1 100%;
            color: $white;
            line-height: 38px;
            margin-bottom: 25px;
        }
        a {
            display: inline-block;
            margin: 0 auto;
        }
    }
}