footer {
    .social-links-container {
        background-color: $midnightBlue;
        text-align: center;
        padding: 57px 0 71px 0;
        @include media-md {
            padding: 47px 0 61px 0;            
        }
        @include media-sm {
            padding: 37px 0 41px 0;            
        }
        @include media-xs {
            padding: 37px 0;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            font-size: 0;
            li {
                display: inline-block;
                margin-right: 15px;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    &.social-icon {
                        &:after {
                            -webkit-transition: all 0.3s ease-in-out 0s;
                            -moz-transition: all 0.3s ease-in-out 0s;
                            -ms-transition: all 0.3s ease-in-out 0s;
                            -o-transition: all 0.3s ease-in-out 0s;
                            transition: all 0.3s ease-in-out 0s;
                            content: "";
                            background-repeat: no-repeat;
                            background-size: cover;
                            display: block;
                            width: 33px;
                            height: 34.93px;
                            @include media-xs {
                                width: 28px;
                                height: 29.93px;
                            }
                        }
                    }
                    &.fcb-icon {
                        &:after {
                            background-image: url("../../../../assets/images/icons/footer-fcb.png");   
                        }
                    }
                    &.instagram-icon {
                        &:after {
                            background-image: url("../../../assets/images/icons/footer-instagram.png"); 
                        }
                    }
                    &.youtube-icon {
                        &:after {
                            background-image: url("../../../assets/images/icons/footer-youtube.png");
                            height: 30.93px;
                            width: 45px;
                            position: relative;
                            top: -1px;
                            @include media-xs {
                                height: 25.93px;
                                width: 38px;
                            }
                        }
                    }
                    &:hover {
                        &.social-icon {
                            &:after {
                                opacity: 0.8;
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-links-container {
        background-color: #00182D;
        padding: 57.4px 0 55.4px 0;
        @include media-md {
            padding: 47.4px 0 45.4px 0;
        }
        @include media-sm {
            padding: 37.4px 0 35.4px 0;
        }
        @include media-xs {
            text-align: center;
            padding: 37.4px 0;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            font-size: 0;
            li {
                display: inline-block;
                margin-right: 30px;
                @include media-sm {
                    margin-right: 20px;
                }
                @include media-xs {
                    margin-right: 0;
                    margin-bottom: 5px;
                    display: block;
                }
                &:last-child {
                    margin-right: 0;
                }
                a {
                    color: $white;
                    font-family: $brandonGrotesque;
                    font-size: 16px;
                    line-height: 19.2px;
                    position: relative;
                    @include media-sm {
                        font-size: 14px;
                        line-height: 18.2px;
                    }
                    @include media-xs {
                        line-height: 24px;
                    }
                    &:before {
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 1px;
                        bottom: -2px;
                        left: 0;
                        visibility: hidden;
                        -webkit-transition: all 0.3s ease-in-out 0s;
                        -moz-transition: all 0.3s ease-in-out 0s;
                        -ms-transition: all 0.3s ease-in-out 0s;
                        -o-transition: all 0.3s ease-in-out 0s;
                        transition: all 0.3s ease-in-out 0s;
                        background-color: $white;
                    }
                    &:hover {
                        &:before {
                            visibility: visible;
                            width: 100%;
                        }
                    }
                }
            }
        }
        .footer-content {
            text-align: right;
            @include media-xs {
                text-align: center;
                margin-top: 30px;
            }
        }
        span {
            color: $white;
            font-family: $brandonGrotesque;
            font-size: 16px;
            line-height: 19.2px;
            @include media-sm {
                font-size: 14px;
                line-height: 18.2px;
            }
        }
    }
}