.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: $headerHeightSm;
    color: $white;
    display: flex;
    align-items: center;
    background: $white;
    z-index: $zHeader;
    padding: 11px 25px 13px 12px;
    @include media-lg {
        width: $maxWidth;
        left: 50%;
        transform: translate(-50%, 0);
        height: $headerHeightLg;
        padding: 0;
    }
    @include media-md {
        height: $headerHeightLg;
        padding: 0;
    }
    @include media-sm {
        height: 90px;
    }
    &.landing-page-header {
        background-color: $midnightBlue;
        .logo-container {
            display: none;
        }
    }    
}
.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: $contentWidth;
    margin: 0 auto;
    padding: 15px 0 16px 0;
    @include media-md {
        padding: 15px 20px 16px 20px;
    }
    .nav {
        width: 100%;
        text-align: right;
    }
}  
.header-logo {
    display: inline;
    max-width: 75px;
    height: auto;
    @include media-xs {
        max-width: 50px;
    }
    @include media-md {
        max-width: 100px;
    }
    @include media-lg {
        max-width: 100px;
    }
}
// .has-promo-offers {
//     .header {
//         top: 60px;
//         -webkit-transition: 0.2s linear;
//         -moz-transition: 0.2s linear;
//         transition: 0.2s linear;
//     }
// }