body {
    &.menu-open {    
        overflow: hidden;
        header {
            overflow: visible;
            .nav-icon {
                background: transparent;
                transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
                &:before {
                    bottom: 0;
                    transform: rotate(-45deg);
                    transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
                }
                &:after {
                    top: 0;
                    transform: rotate(45deg);
                    transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
                    ;
                }
            }
            &.non-logged {
                nav {
                    @include media-xs {
                        margin-right: 0%;
                    }
                    @include media-sm {
                        margin-right: 0%;
                    }
                }
            }
        }
        nav {
            margin-right: 0%;
        }
        main {
            &:after {
                content: "";
                overflow: hidden;
                background: #000;
                opacity: 0.9;
                width: 100%;
                height: 100vh;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
    &.search-open {    
        overflow: hidden;
        position: relative;
        main {
            &:after {
                content: "";
                overflow: hidden;
                background: #000;
                opacity: 0.9;
                width: 100%;
                height: 100vh;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        .mobile-search { 
            margin-right: 0%;
            right: 0;
        }
        header {
            // height: 58px;
            overflow: visible;
            &.landing-page-header {
                background-color: $white;
            }
            @include media-xs {
                background-color: $white;
            }
        }
    }
}
header {
    padding: 16px 26.2px 16px 20px;
    position: relative;
    // height: 125px;
    height: 120.8px;
    top: 0;
    left: 0;
    right: 0;
    background-color: $white;
    z-index: 91;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    overflow: hidden;
    @include media-xs {
        height: 70px;
        padding: 11px 10px 13px 0; 
        background-color: $white;
    }
    @include media-sm {
        height: 70px;
        padding: 11px 10px 13px 0; 
        background-color: $white;
    }
    &.landing-page-header {
        background-color: transparent;
        @include media-xs {
            background-color: $midnightBlue;
        }
        @include media-sm {
            background-color: $midnightBlue;
        }
        .logo-container {
            display: none;
        }
        nav {
            ul {
                li {
                    a {
                        color: $white;
                        @include media-xs {
                            color: $midnightBlue;
                        }
                        @include media-sm {
                            color: $midnightBlue;
                        }
                        &:hover {
                            color: $white;
                            @include media-xs {
                                color: $midnightBlue;
                            }
                            @include media-sm {
                                color: $midnightBlue;
                            }
                        }
                        &:after {
                            background-color: $white;
                            @include media-xs {
                                display: none;
                            }
                            @include media-sm {
                                display: none;
                            }
                        }
                    }
                }
            }
            .mobile-login-content {
                ul {
                    border-bottom: 1px solid #F0F0F0;
                }
            }
            @include media-xs {
                background-color: $white;
            }
            @include media-sm {
                background-color: $white;
            }
        }
        .search-icon {
            &:before {
                background-image: url("../../../../assets/images/icons/white-mobile-search-icon.png");
            }
        }
        .nav-icon {
            background: $white;
            &:before {
                background: $white;
            }
            &:after {
                background: $white;
            }        
        }
        .login-content { 
            border-left: 1px solid rgba(255, 255, 255, 0.25);
            ul {
                li {
                    a {
                        color: $white;
                        &:hover {
                            color: $white;
                        }
                        &:after {
                            background-color: $white;
                            @include media-xs {
                                display: none;
                            }
                            @include media-sm {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .search-wrapper-header {
            margin-right: 0;
            padding-right: 19px;
            input {
                border: 1px solid $midnightBlue;
            }
            i {
                &.fa-search-header {
                    &:after {
                        background-image: url("../../../../assets/images/icons/white-mobile-search-icon.png");
                    }
                }
            }
        }
        .logout-btn {
            display: none;
        }
    }
    &.non-logged {
        nav {
            margin-right: 135px;
            padding-right: 30px;
            @include media-xs {
                margin-right: -100%;
                padding-right: 0;
            }
            @include media-sm {
                margin-right: -100%;
                padding-right: 0;
            }
        }
        .login-content {
            display: block;
            @include media-xs {
                display: none;
            }
            @include media-sm {
                display: none;
            }
        }
        .mobile-account-btn {
            display: none;
        }
        .desktop-account-btn {
            display: none;
        }
        .mobile-login-content {
            @include media-xs {
                display: inline-block;
            }
            @include media-sm {
                display: inline-block;
            }
        }
        .search-wrapper-header {
            margin-right: 0;
            padding-right: 19px;
        }
        .logout-btn {
            display: none;
        }
    }
    .nav-icon {
        width: 27px;
        height: 4px;
        position: absolute;
        top: 7px;
        right: 15px;
        transform: translateY(16px);
        background: $midnightBlue;
        transition: all 0ms 300ms;
        &:before {
            width: 27px;
            height: 4px;
            content: "";
            position: absolute;
            left: 0;
            bottom: 9px;
            background: $midnightBlue;
            transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        &:after {
            width: 27px;
            height: 4px;
            content: "";
            position: absolute;
            left: 0;
            top: 9px;
            background: $midnightBlue;
            transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }        
    }
    .search-icon {
        width: 27px;
        height: 4px;
        position: absolute;
        top: 12px;
        right: 55px;
        &:before {
            display: block;
            content: "";
            background-image: url("../../../../assets/images/icons/mobile-search-icon.png");
            background-repeat: no-repeat;
            background-size: cover;
            width: 21px;
            height: 24px;
        }
    }
    .logo-container {
        float: left;
        img {
            width: 100%;
            height: 100%;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
            transition: all 0.5s;
            @include media-xs {
                width: auto;
                height: 46px;
            }
            @include media-sm {
                width: auto;
                height: 46px;
            }
        }
    }
    .mobile-account-btn {
        @include media-xs {
            display: block;
        }
        @include media-sm {
            display: block;
        }
        @include media-md {
            display: none;
        }
        @include media-lg {
            display: none;
        }
    }
    .desktop-account-btn {
        @include media-xs {
            display: none;
        }
        @include media-sm {
            display: none;
        }
        @include media-md {
            display: inline-block;
        }
        @include media-lg {
            display: inline-block;
        }
    }
    .mobile-login-content {
        display: none;
        ul {
            border-bottom: 1px solid #00182D;
            padding: 15px 0;
            li {
                padding: 2px 0;
                a {
                    padding: 0;
                    margin-left: 30px;
                }
                &:nth-last-child(2) {
                    padding-bottom: 0;
                }
                &.icon {
                    &:before {
                        top: 9px;
                    }
                }
            }
        }
    }
    nav {
        text-align: right;
        position: relative;
        margin: 0;
        background: none;
        display: inline-block;
        float: right;
        transition: margin-right 1s ease;
        -webkit-transition: margin-right 1s ease; 
        top: 37px;
        @include media-xs {
            margin-right: -100%;
            width: 90%;
            position: absolute;
            top: 59px;
            right: -10px;
            background: $midnightBlue;
            overflow-y: auto;
        }
        @include media-xs-landscape {
            height: 100vh;
            padding-bottom: calc(30% + 50px);
        }
        @include media-sm {
            margin-right: -100%;
            width: 60%;
            position: absolute;
            top: 59px;
            right: -10px;
            background: $midnightBlue;
            overflow-y: auto;
        }
        ul {
            padding: 0;
            text-align: right;
            list-style: none;
            width: auto;
            display: block;
            margin-bottom: 0;
            @include media-xs {
                margin-left: 0;
            }
            @include media-sm {
                margin-left: 0;
            }
            li {
                list-style: none;
                display: inline-block;
                margin-bottom: 0;
                background: none;
                cursor: pointer;
                -webkit-transition: all 0.2s ease;
                -moz-transition: all 0.2s ease;
                -o-transition: all 0.2s ease;
                transition: all 0.2s ease;
                position: relative;
                padding-right: 30px;
                @include media-xs {
                    width: 100%;
                    text-align: left;
                    padding: 0;
                }
                @include media-sm {
                    width: 100%;
                    text-align: left;
                    padding: 0;
                }
                @include media-md {
                    padding-right: 20px;
                }
                &:last-child {
                    padding-right: 0;
                }
                &:nth-last-child(2) {
                    @include media-xs {
                        padding-bottom: 25px;
                    }
                    @include media-sm {
                        padding-bottom: 25px;
                    }
                }
                &.mobile-account-btn {
                    @include media-xs {
                        border-bottom: 1px solid #00182D;
                        padding: 13.9px 16.2px 14.7px 16.2px;
                        margin-bottom: 20px;
                    }
                    @include media-sm {
                        border-bottom: 1px solid #00182D;
                        padding: 13.9px 16.2px 14.7px 16.2px;
                        margin-bottom: 20px;
                    }
                }
                a {
                    font-size: 14px;
                    line-height: 16.8px;
                    position: relative;
                    font-family: $brandonGrotesqueBold;
                    color: $midnightBlue;
                    text-transform: uppercase;
                    @include media-xs {
                        font-size: 14px;
                        color: $white;
                        letter-spacing: 0;
                        line-height: 36px;
                        display: inline-block;
                        padding: 5px 0 5px 31px;
                    }
                    @include media-sm {
                        font-size: 14px;
                        color: $white;
                        letter-spacing: 0;
                        line-height: 36px;
                        display: inline-block;
                        padding: 5px 0 5px 31px;
                    }
                    @include media-md {
                        font-size: 13px;
                    }
                    &:hover {
                        text-decoration: none;
                        color: $midnightBlue;
                        &:after {
                            visibility: visible;
                            width: 100%;
                        }
                        @include media-xs {
                            color: $white;
                        }
                        @include media-sm {
                            color: $white;
                        }
                    }
                    &:focus {
                        text-decoration: none;
                        outline: none;
                        color: $midnightBlue;
                    }
                    &:active {
                        text-decoration: none;
                        outline: none;
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 2px;
                        bottom: -3px;
                        left: 0;
                        visibility: hidden;
                        -webkit-transition: all 0.3s ease-in-out 0s;
                        -moz-transition: all 0.3s ease-in-out 0s;
                        -ms-transition: all 0.3s ease-in-out 0s;
                        -o-transition: all 0.3s ease-in-out 0s;
                        transition: all 0.3s ease-in-out 0s;
                        background-color: $midnightBlue;
                        @include media-xs {
                            display: none;
                        }
                        @include media-sm {
                            display: none;
                        }
                    }
                    &.account-btn {
                        padding: 10.6px 33px 10px 33px;
                        border-radius: 6px;
                        border: 1px solid $midnightBlue;
                        &:after {
                            display: none;
                        }
                        @include media-xs {
                            border: 1px solid $white;
                            width: 100%;
                            text-align: center;
                        }
                        @include media-sm {
                            border: 1px solid $white;
                            width: 100%;
                            text-align: center;
                        }
                        &:before {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: $midnightBlue;
                            z-index: -1;
                            -webkit-transform: scale(0);
                            -moz-transform: scale(0);
                            transform: scale(0);
                            -webkit-transition: 0.2s linear;
                            -moz-transition: 0.2s linear;
                            transition: 0.2s linear;
                            border-radius: 6px;
                        }
                        &:hover {
                            color: $white;
                            &:before {
                                -webkit-transform: scale(1);
                                -moz-transform: scale(1);
                                transform: scale(1);
                            }
                        }
                    }
                }
            }
        }
    }
    .login-content {
        position: absolute;
        right: -26.2px;
        top: 16px;
        text-align: right;
        padding-left: 30px;
        border-left: 1px solid rgba(0, 46, 93, 0.25);
        display: none;
        @include media-xs {
            display: none;
        }
        @include media-sm {
            display: none;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                padding-right: 17px;
                a {
                    font-size: 12px;
                    line-height: 14.4px;
                    position: relative;
                    font-family: $brandonGrotesqueBold;
                    color: $midnightBlue;
                    text-transform: uppercase;
                    &:hover {
                        text-decoration: none;
                        color: $midnightBlue;
                        &:after {
                            visibility: visible;
                            width: 100%;
                        }
                        @include media-xs {
                            color: $white;
                        }
                        @include media-sm {
                            color: $white;
                        }
                    }
                    &:focus {
                        text-decoration: none;
                        outline: none;
                        color: $midnightBlue;
                    }
                    &:active {
                        text-decoration: none;
                        outline: none;
                    }
                    &:after {
                        content: "";
                        position: absolute;
                        width: 0;
                        height: 1px;
                        bottom: -2px;
                        left: 0;
                        visibility: hidden;
                        -webkit-transition: all 0.3s ease-in-out 0s;
                        -moz-transition: all 0.3s ease-in-out 0s;
                        -ms-transition: all 0.3s ease-in-out 0s;
                        -o-transition: all 0.3s ease-in-out 0s;
                        transition: all 0.3s ease-in-out 0s;
                        background-color: $midnightBlue;
                        @include media-xs {
                            display: none;
                        }
                        @include media-sm {
                            display: none;
                        }
                    }
                }
                &.icon {
                    &:before {
                        right: 0;
                        top: 4px;
                        -webkit-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        -o-transform: rotate(180deg);
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
    .search-wrapper-header {
        margin-right: 16px;
        @include media-sm {
            display: none;
        }
        @include media-xs {
            display: none;
        }
        &.opened {
            input {
                width: 100%;
                max-width: 175px;       
                border: 1px solid $midnightBlue;
                padding: 15px;
                margin-right: 15px;
                @include media-md {
                    max-width: 150px;
                }
            }
            .input-group-prepend {
                button {
                    opacity: 1;
                }
            }
        }
        input {
            border: 1px solid transparent;
            box-shadow: none;
            border-radius: 6px;
            padding: 0;
            width: 100%;
            max-width: 0;
            transition: all .30s linear;
            -moz-transition: all .30s linear;
            -webkit-transition: all .30s linear;
            height: 42.60px;
            font-size: 16px;
            line-height: 16.8px;
            letter-spacing: 0.5px;
            font-family: $brandonGrotesqueMedium;
            margin-top: -12px;
            &:focus {
                outline: none;
            }
        }
        .input-group {
            margin: 0;
            display: block;
        }
        .input-group-prepend {
            position: absolute;
            top: -2px;
            right: 16px;
            button {
                color: $midnightBlue;
                background-color: transparent;
                border: none;
                box-shadow: none; 
                -webkit-transition: all 0.3s;
                -moz-transition: all 0.3s;
                transition: all 0.3s;
                opacity: 0; 
                &:hover {
                    opacity: 0.8;
                }
                &:focus {
                    outline: none;
                }          
            }
        }
        i {
            &.fa-search-header {
                width: 18px;
                height: 20px;
                -webkit-transition: all 0.5s;
                -moz-transition: all 0.5s;
                transition: all 0.5s;
                position: absolute;
                top: -1px;
                &:after {
                    content: "";
                    width: 18px;
                    height: 20px;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-image: url("../../../../assets/images/icons/mobile-search-icon.png");
                    display: block;
                }
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
    .logout-btn {
        @include media-xs {
            border-top: 1px solid #00182D;
            padding: 8px 0;
            margin-top: 20px;
        }
        @include media-sm {
            border-top: 1px solid #00182D;
            padding: 8px 0;
            margin-top: 20px;
        }
    }
}
main {
    @include media-xs {
        transition: margin-top 1.2s ease;
        -moz-transition: margin-top 1.2s ease;
        -webkit-transition: margin-top 1.2s ease;
    }
    @include media-sm {
        transition: margin-top 1.2s ease;
        -moz-transition: margin-top 1.2s ease;
        -webkit-transition: margin-top 1.2s ease;
    }
}
.mobile-search {
    background-color: $white;
    width: 100%;
    height: 48px;
    position: absolute;
    top: -1px;
    right: -10%;
    z-index: 999;
    transition: margin-right 1s ease;
    -webkit-transition: margin-right 1s ease;
    margin-right: -100%;
    .form-group {
        margin-bottom: 0;
        .input-group {
            width: 100%;
            input {
                border-radius: 0;
                border: none;
                float: left;
                width: 89%;
                color: #999999;
                font-family: $brandonGrotesque;
                font-size: 18px;
                line-height: 21.6px;
                padding: 6px 2px;
                -webkit-box-shadow: none;
                box-shadow: none;
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
            .input-group-prepend {
                float: left;
                width: 11%;
                padding-left: 10px;
            }
        }
    }
    button {
        width: 30px;
        height: 30px;
        position: relative;
        &:before {
            content: "";
            background-image: url("../../../../assets/images/icons/blue-icon.png");
            background-repeat: no-repeat;
            background-size: cover;
            width: 10.1px;
            height: 15.14px;
            display: block;
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }
}