.how-it-works-container {
    text-align: center;
    padding: 65.3px 0 80px 0;
    position: relative;
    @include media-xs {
        padding: 39px 0;
    }
    @include media-sm {
        padding: 60px 0;
    }
    @include media-sm {
        padding: 40px 0;
    }
    &:before {
        content: "";
        width: 71.7px;
        height: 13.65px;
        background-image: url(../../../assets/images/icons/color-icons.png);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .feature-item-wrap {
        display: flex;
        flex-flow: row wrap;
        margin: 40px 0;
        @include media-xs {
            margin: 30px 0;
        }
        .feature-item {
            text-align: center;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: center;
            flex: 1 1 0%;
            width: auto;
            @include media-xs {
                width: 100%;
                margin-bottom: 25px;
            }
            &:last-child {
                margin-bottom: 0;
            }
            .img-container {
                width: 311px;
                height: 311px;
                margin: 0 auto 20px auto;
                display: block;
                @include media-xs {
                    width: 280px;
                    height: 280px;  
                }
                @include media-md {
                    width: 260px;
                    height: 260px;  
                }
                @include media-sm {
                    width: 180px;
                    height: 180px;  
                }
                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            .feature-item-content {
                h2 {
                    text-transform: uppercase;
                }
                h3 {
                    text-transform: uppercase;
                    margin: 5px 0 10px 0;
                    @include media-xs {
                        margin: 5px 0 0 0;
                    }
                    @include media-sm {
                        padding: 0 30px;
                        min-height: 69px;
                    }
                }
                .feature-text {
                    padding: 0 45px;
                    @include media-xs {
                        padding: 0 37px;
                    }
                    @include media-xs {
                        padding: 0 30px;
                    }
                }
                p {
                    font-size: 22px;
                    line-height: 26.4px;
                    color: $midnightBlue;
                    b {
                        font-family: $brandonGrotesqueBold;
                    }
                }
            }
        }
    }
}