.image-heading-text-container {
    text-align: center;
    position: relative;
    padding: 0;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    .image-heading-text-content {
        padding: 115px 0 56.3px 0;
        @include media-md {
            padding: 95px 10px 56.3px 10px;
        }
        @include media-sm {
            padding: 85px 20px 46.3px 20px;
        }
        @include media-xs {
            padding: 95px 20px 46.3px 20px;
        }
        img {
            max-width: 264px;
            max-height: 180px;
            margin: 0 auto 25px auto;
            display: block;
            @include media-xs {
                max-width: 156px;
                max-height: 106px;
            }
        }
        h2 {
            margin-bottom: 20px;
        }
        p {
            color: $midnightBlue;
            font-family: $brandonGrotesque;
            font-size: 22px;
            line-height: 31px;
            margin: 0 auto 20px auto;
            display: block;
            width: 82%;
            b {
                font-family: $brandonGrotesqueBold;
            }
            @include media-sm {
                width: 100%;
            }
            @include media-md {
                width: 95%;
            }
            @include media-xs {
                width: 93%;
            }
        }
        i {
            position: relative;
            color: $midnightBlue;
            font-family: $brandonGrotesqueLight;
            display: inline-block;
            &:before {
                content: "*";
                position: absolute;
                top: 0;
                left: -5px;
            }
        }
    }
}