.promo-offers-container {
    padding: 10px 14px;
    font-size: 0;
    background-color: $white;
    position: relative;
    .custom-btn {
        display: inline-block;
        margin-left: 12px;
        padding: 6px 43.6px 5.7px 46.2px;
        font-size: 18px;
        z-index: 0;
        @include media-xs {
            font-size: 14.37px;
            line-height: 16.37px;
            padding: 8.2px 13.8px 8.9px 13.8px;
        }
    }
    i {
        cursor: pointer;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;
        width: 26px;
        height: 26px;
        position: absolute;
        right: 15px;
        top: 15px;
        @include media-xs {
            width: 20px;
            height: 20px;
        }
        @include media-xs {
            top: 10px;
        }
        &:hover {
            opacity: 0.8;
        }
        &:after {
            display: block;
            content: "";
            background-image: url("../../../../assets/images/icons/blue-close.png");
            background-repeat: no-repeat;
            background-size: cover;
            width: 26px;
            height: 26px;
            display: block;
            @include media-xs {
                width: 20px;
                height: 20px;
            }
        }
    }
    input {
        font-family: $brandonGrotesque;
        font-size: 18px;
        line-height: 18px;
        color: $midnightBlue;
        background: $white;
        border: 1px solid #ededed;
        padding: 6px 13px;
        width: 333px;
        @include media-xs {
            width: calc(100% - 138px);
            font-size: 14px;
            line-height: 14px;
            padding: 7px 10px;
        }
        &.alert-error {
            border: 2px solid #db0038;
        }
        &:focus {
            outline: none;
            box-shadow: none;
        }
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: $midnightBlue;
            font-family: $brandonGrotesque;
            font-size: 18px;
            line-height: 18px;
            @include media-xs {
                font-size: 14px;
                line-height: 14px;
            }
        }
        &::-moz-placeholder { /* Firefox 19+ */
            color: $midnightBlue;
            font-family: $brandonGrotesque;
            font-size: 18px;
            line-height: 18px;
            @include media-xs {
                font-size: 14px;
                line-height: 14px;
            }
        }
        &:-ms-input-placeholder { /* IE 10+ */
            color: $midnightBlue;
            font-family: $brandonGrotesque;
            font-size: 18px;
            line-height: 18px;
            @include media-xs {
                font-size: 14px;
                line-height: 14px;
            }
        }
        &:-moz-placeholder { /* Firefox 18- */
            color: $midnightBlue;
            font-family: $brandonGrotesque;
            font-size: 18px;
            line-height: 18px;
            @include media-xs {
                font-size: 14px;
                line-height: 14px;
            }
        }
    }
    .promo-offers-subheading {
        // padding: 13px 0px 9px 0;
        padding: 7px 0 3px 0;
        @include media-xs {
            width: 90%;
            padding: 11px 0 3px 0;
        }
        span {
            color: $scooter;
            // font-size: 18px;
            // line-height: 18px;
            // font-family: $brandonGrotesqueMedium;
            font-size: 30px;
            line-height: 30px;
            font-family: $brandonGrotesqueBlack;
            text-transform: uppercase;
            display: block;
            @include media-xs {
                font-size: 16px;
                line-height: 22px;
                font-family: $brandonGrotesqueMedium;
            }
        }
    }
}
.has-promo-offers {
    .header {
        top: 60px;
        @include media-xs {
            top: 56px;
        }
    }
}