.hero-banner-container {
    &.landing-page-hero {
        margin-top: -120.8px;
        min-height: 576px;
        @include media-xs {
            margin-top: -70px;
            min-height: auto;
        }
        @include media-md {
            min-height: 451.547px;
        }
        @include media-sm {
            min-height: 391.547px;
            margin-top: -70px;
        }
        .hero-banner-content {
            text-align: center;
            padding: 120.8px 0 79.7px 0;
            position: relative;
            @include media-xs {
                padding: 280px 0 40.5px 0;
            }
            .img-container {
                width: 290.38px;
                height: 290.38px;
                background: #fff;
                border-radius: 100%;
                position: relative;
                display: inline-block;
                vertical-align: middle;
                margin: 0 29px 32.7px 29px;
                @include media-md {
                    width: 170.38px;
                    height: 170.38px;
                    margin: 0 24px 32.7px 24px;
                }
                @include media-sm {
                    width: 125.38px;
                    height: 125.38px;
                    margin: 0 15px 32.7px 15px;
                }
                @include media-xs {
                    width: 184px;
                    height: 184px;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    -webkit-transform: translateX(-50%);
                    -moz-transform: translateX(-50%);
                    transform: translateX(-50%);
                    margin: 70px 0 19px 0;
                }
                img {
                    width: 178px;
                    height: 163px;
                    background: transparent;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    -moz-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                    @include media-xs {
                        width: 113px;
                        height: 103px;
                    }
                    @include media-sm {
                        width: 85px;
                        height: 70px;
                    }
                    @include media-md {
                        width: 113px;
                        height: 98px;
                    }
                }
            }
            h2 {
                color: #39BCD9;
                display: inline-block;
                vertical-align: middle;
                @include media-xs {
                    display: block;
                    padding: 0 25px;
                }
                @include media-sm {
                    font-size: 26px;
                    line-height: 28.96px;
                }
                @include media-md {
                    font-size: 32px;
                    line-height: 30.96px;
                }
            }
        }
    }
    &.logged-page-hero {
        min-height: 456px;
        position: relative;
        @include media-sm {
            min-height: auto;
        }
        @include media-xs {
            min-height: auto;
        }
        .hero-banner-content {
            text-align: center;
            position: relative;
            flex: 1 1 67%;
            padding: 0 220px 0 20px;
            @include media-sm {
                top: initial;
                -webkit-transform: none;
                -moz-transform: none;
                transform: none;
                padding: 60px 0 75px 0;
            }
            @include media-xs {
                top: initial;
                -webkit-transform: none;
                -moz-transform: none;
                transform: none;
                padding: 33px 0 34.2px 0;
            }
            h2 {
                margin-bottom: 8px;
                @include media-xs {
                    margin-bottom: 5px;
                }
            }
            > span {
                color: $white;
                font-family: $brandonGrotesqueBlack;
                font-size: 25px;
                line-height: 34.96px;
                display: block;
                margin-bottom: 15px;
                @include media-xs {
                    font-size: 20px;
                    line-height: 28px;
                    margin-bottom: 63px;
                }
            }
            p {
                color: $midnightBlue;
                font-size: 22px;
                line-height: 26.4px;
                display: block;
                margin-bottom: 30px;
                @include media-xs {
                    font-size: 20px;
                    line-height: 24px;
                    width: 80%;
                    margin: 0 auto;
                }
            }
        }
        .img-container {
            padding: 50px 35px 0 35px;
            height: 456px;
            flex: 1 1 33%;
            @include media-xs {
                display: none;
            }
            @include media-sm {
                display: none;
            }
        }
        .scan-without-app-link {
            text-transform: uppercase;
            color: $midnightBlue;
            font-size: 16px;
            line-height: 29.97px;
            margin-top: 20px;
            font-family: $brandonGrotesqueBold;
        }
        .hero-banner-inner-container {
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-between;
            max-width: $maxWidth;
        }
    }
    .banner-image {
        background-repeat: no-repeat !important;
        background-size: cover !important;
        height: 100%;
        width: 100%;
        position: relative;
    }
}