p {
    font-family: $brandonGrotesque;
    margin: 0;
}
h2 {
    font-size: 38px;
    line-height: 34.96px;
    color: $midnightBlue;
    text-transform: uppercase;
    font-family: $brandonGrotesqueBlack;
    margin: 0;
    @include media-md {
        font-size: 34px;
        line-height: 32.96px;
    }
    @include media-sm {
        font-size: 32px;
        line-height: 30.96px;
    }
    @include media-xs {
        font-size: 30px;
        line-height: 30px;
    }
}
h3 {
    font-size: 25px;
    line-height: 34.96px;
    font-family: $brandonGrotesqueBlack;
    color: $scooter;
    margin: 0;
    @include media-xs {
        font-size: 20px;
    }
}
h5 {
    font-family: $brandonGrotesqueBold;
    font-size: 18px;
    line-height: 26px;
    margin: 0;
}
a {
    text-decoration: none;
    cursor: pointer;
    &:hover,
    &:focus,
    &:active {
        outline: none;
        text-decoration: none;
        box-shadow: none;
    }
}
// Buttons
.custom-btn {
    background-color: $redRibbon;
    color: $white;
    font-family: $brandonGrotesqueBlack;
    text-transform: uppercase;
    line-height: 26.9px;
    font-size: 18px;
    padding: 8px 34px;
    text-align: center;
    border-radius: 6px;
    letter-spacing: 0.8px;
    position: relative;
    z-index: 1;
    border: 1px solid $redRibbon;
    display: inline-block;
    &:hover {
        text-decoration: none;
        color: $redRibbon;
        outline: 0;
        &:before {
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            transform: scale(1);
        }
    }
    &:focus {
        text-decoration: none;
        outline: 0;
        color: $redRibbon;
    }
    &:active {
        outline: 0;
    }
    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $white;
        z-index: -1;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        transform: scale(0);
        -webkit-transition: 0.2s linear;
        -moz-transition: 0.2s linear;
        transition: 0.2s linear;
        border-radius: 6px;
    }
    &.blue-btn {
        border: 1px solid $midnightBlue;
        background-color: $midnightBlue;
        &:hover {
            color: $midnightBlue;
        }
        &:focus {
            color: $midnightBlue;
        }
    }
}

// Triangle Icons
.icon {
    position: relative;
    &:before {
        content: "";
        background-size: cover;
        background-repeat: no-repeat;
        width: 8px;
        height: 12px;
        position: absolute;
        top: 0;
        @include media-xs {
            width: 14px;
            height: 21px;
        }
    }
    &.red-icon {
        &:before {
            background-image: url("../../../assets/images/icons/red-icon.png");
        }
    }
    &.blue-icon {
        &:before {
            background-image: url("../../../assets/images/icons/blue-icon.png");            
        }
    }
    &.yellow-icon {
        &:before {
            background-image: url("../../../assets/images/icons/yellow-icon.png");            
        }
    }
}