.consumer-earning-bar-container {
    background-color: $midnightBlue;
    text-align: center;
    .consumer-earning-bar-wrapper {
        max-width: $contentWidth;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        text-align: center;
        padding: 30px 0 38px 0;
        &.coord-earnings-bar-wrapper {
            @include media-xs {
                padding: 0px 0 38px 0;
            }
            .consumer-earning-bar-item { 
                &:nth-last-child(3) {
                    &:after {
                        display: block;
                        right: -25px;
                    }
                }
                @include media-xs {
                    margin-bottom: 35px;
                    padding-bottom: 45px;
                }
            }
        }
        .consumer-earning-bar-item {
            position: relative;
            flex: 1 1 0%;
            -ms-flex: 1 1 33%;
            width: auto;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: center;
            @include media-xs {
                flex: 1 1 100%;
                margin-bottom: 30px;
                padding-bottom: 35px;
            }
            &:after {
                content: "";
                width: 16.46px;
                height: 82.31px;
                background-image: url(../../../assets/images/icons/right-color-icons.png);
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                top: 50%;
                right: 0;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                transform: translateY(-50%);
                @include media-xs {
                    background-image: url(../../../assets/images/icons/color-icons.png);
                    top: initial;
                    bottom: 0;
                    left: 50%;
                    -webkit-transform: translateX(-50%);
                    -moz-transform: translateX(-50%);
                    transform: translateX(-50%);
                    width: 71.79px;
                    height: 13.65px;
                }
            }
            &:nth-last-child(2) {
                @include media-xs {
                    margin-bottom: 0;
                    padding-bottom: 35px;
                }
                &:after {
                    display: none;
                }
            }
            &:last-child {
                &:after {
                    display: none;
                }
            }
            span {
                display: block;
                color: $white;
                &.title {
                    font-family: $brandonGrotesque;
                    font-size: 22px;
                    line-height: 22px;
                    padding-bottom: 5px;
                    @include media-md {
                        font-size: 18px;
                        line-height: 18px;
                    }
                    @include media-sm {
                        font-size: 16px;
                        line-height: 16px;
                    }
                    @include media-xs {
                        font-size: 20px;
                        line-height: 20px;
                    }
                }
                &.text {
                    font-size: 28px;
                    line-height: 36px;
                    font-family: $brandonGrotesqueMedium;
                    text-transform: uppercase;
                    width: 92%;
                    @include media-xs {
                        width: 85%;
                        font-size: 24px;
                        line-height: 28px;
                    }
                    @include media-md {
                        font-size: 24px;
                        line-height: 30px;
                    }
                    @include media-sm {
                        font-size: 18px;
                        line-height: 24px;
                        width: 90%;
                    }
                }
                &.number {
                    font-family: $brandonGrotesqueBold;
                    font-size: 80px;
                    line-height: 72px;
                    @include media-md {
                        font-size: 60px;
                        line-height: 54px;
                    }
                    @include media-sm {
                        font-size: 54px;
                        line-height: 50px;
                    }
                    @include media-xs {
                        font-size: 48px;
                        line-height: 44px;
                    }
                    &.resize {
                        font-size: 60px;
                        line-height: 66px;
                        @include media-xs {
                            font-size: 48px;
                            line-height: 44px;
                        }
                        @include media-sm {
                            font-size: 36px;
                            line-height: 44px;
                        }
                        @include media-md {
                            font-size: 50px;
                            line-height: 50px;
                        }
                    }
                }
            }
        }
        .btn-container {
            flex: 1 1 100%;   
            margin-top: 30px;   
            @include media-xs {
                margin-top: 0;
            }      
            .custom-btn {
                display: inline-block;
                margin: 0 auto;
            }
        }
        i {
            text-align: center;
            width: 100%;
            color: #fff;
            font-family: $brandonGrotesqueItalic;
            font-size: 14px;
            line-height: 14px;
            margin-top: 30px;
            @include media-xs {
                font-size: 12px;
                line-height: 12px;
                margin-top: 0;
            }
        }
    }
    &.school-earning-bar {
        .consumer-earning-bar-wrapper {
            padding: 38px 0 46px 0;
            @include media-md {
                padding: 33px 0 41px 0;
            }
            @include media-sm {
                padding: 28px 0 36px 0;
            }
            .consumer-earning-bar-item {
                &:last-child {
                    @include media-xs {
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        } 
    }
}