.feature-section {
    text-align: center;
    position: relative;
    padding: 0;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #FFF;
    padding-top: 76px;
    @include media-sm {
        padding-top: 60px;
    }
    @include media-xs {
        padding-top: 55px;
    }
    &:before {
        content: "";
        width: 71.7px;
        height: 13.65px;
        background-image: url("../../../assets/images/icons/bgy-color-icons.png");
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    &.add-top-icon {
        &:before {
            display: block;
        }
    }
    &:before {
        display: none;
    }
    &.background-image-feature {
        padding-top: 115px;
        padding-bottom: 25px;
        @include media-md {
            padding-top: 95px;
            padding-bottom: 0;
        }
        @include media-sm {
            padding-top: 85px;
            padding-bottom: 0;
        }
    }
    &.more-rows {
        .constrain {
            padding-bottom: 0;
        }
        .custom-btn {
            margin: 41px 0 56px 0;
            @include media-xs {
                margin: 41px 0 0 0;
            }
        }
    }
    .feature-item-wrap {
        a {
            &:hover {
                h5 {
                    &:before {
                        visibility: visible;
                        -webkit-transform: scaleX(1);
                        transform: scaleX(1);
                    }
                }
                img {
                    -webkit-transform: scale(1.1);
                    -moz-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    -o-transform: scale(1.1);
                    transform: scale(1.1);
                }
            }
        }
        .feature-item {
            p {
                width: 100%;
                margin-top: 3px;
                font-size: 18px;
                line-height: 26px;
            }
            .feature-text {
                width: 93%;
                @include media-xs {
                    width: 100%;
                }
            }
            @include media-xs {
                padding-bottom: 20px;
            }
            &:last-child {
                @include media-xs {
                    padding-bottom: 0;
                }
            }
        }
        .img-container {
            overflow: hidden;
        }
        img {
            -webkit-transition: all .3s ease 0s;
            -moz-transition: all .3s ease 0s;
            -o-transition: all .3s ease 0s;
            transition: all .3s ease 0s;
        }
    }
    .custom-btn {
        margin-bottom: 41px;
        @include media-xs {
            margin-bottom: 21px;
            font-size: 18px;
            padding: 8.8px 30px 8.6px 30px;
        }
    }
    h5 {
        text-transform: uppercase;
        color: $redRibbon;
        margin-top: 5px;
        display: inline-block;
        position: relative;
        @include media-xs {
            margin-top: 0;
        }
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 0px;
            left: 0;
            background-color: #E80A4D;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            -moz-transform: scaleX(0);
            -ms-transform: scaleX(0);
            -o-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            -ms-transition: all 0.3s ease-in-out 0s;
            -o-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
        }
    }
    p {
        font-size: 22px;
        line-height: 26.4px;
        color: $midnightBlue;
        width: 60%;
        margin: 20px auto 0 auto;
        @include media-sm {
            width: 92%;
        }
        @include media-md {
            width: 82%;
        }
        @include media-xs {
            width: 90%;
        }
        a {
            color: $redRibbon;
            cursor: pointer;
            position: relative;
            &:focus,
            &:hover,
            &:active {
                outline: none;
                text-decoration: none;
            }
            &:hover {
                &:before {
                    visibility: visible;
                    -webkit-transform: scaleX(1);
                    transform: scaleX(1);
                }
            }
            &:before {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                bottom: 0px;
                left: 0;
                background-color: #E80A4D;
                visibility: hidden;
                -webkit-transform: scaleX(0);
                -moz-transform: scaleX(0);
                -ms-transform: scaleX(0);
                -o-transform: scaleX(0);
                transform: scaleX(0);
                -webkit-transition: all 0.3s ease-in-out 0s;
                -moz-transition: all 0.3s ease-in-out 0s;
                -ms-transition: all 0.3s ease-in-out 0s;
                -o-transition: all 0.3s ease-in-out 0s;
                transition: all 0.3s ease-in-out 0s;
            }
            @include media-xs {
                display: block;
            }
        }
    }
    h2 {
        @include media-xs {
            padding: 0 20px;
        }
    }
    h3 {
        text-transform: uppercase;
    }
    .load-more {
        position: relative;
        font-size: 18px;
        line-height: 18px;
        font-family: $brandonGrotesqueBold;
        color: $midnightBlue;
        text-transform: uppercase;
        display: inline-block;
        @include media-xs {
            font-size: 16px;
            line-height: 16px;
        }
        &:hover {
            &:before {
                visibility: visible;
                width: 100%;
            }
        }
        &:before {
            content: "";
            position: absolute;
            width: 0;
            height: 1px;
            bottom: -2px;
            left: 0;
            visibility: hidden;
            -webkit-transition: all 0.3s ease-in-out 0s;
            -moz-transition: all 0.3s ease-in-out 0s;
            -ms-transition: all 0.3s ease-in-out 0s;
            -o-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
            background-color: $midnightBlue;
        }
    }
}