.form-group {
    font-size: 0;
    .select {
        position: relative;
        display: inline-block;
        width: 300px;
        @include media-xs {
            width: 100%;
        }
        &:after {
            content: "";
            background-color: #D9D9D9;
            height: 40px;
            width: 1px;
            position: absolute;
            right: 37px;
            top: 0;
        }
        select {
            background: url("../../../assets/images/icons/select-arrow@2x.png") no-repeat 94% 16px/15px 10px;
            display: inline-block;
            width: 100%;
            cursor: pointer;
            font-family: $brandonGrotesque;
            color: $midnightBlue;
            font-size: 22px;
            line-height: 26.4px;
            padding: 6px 10px;
            outline: 0;
            border-radius: 6px;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-color: #ffffff;
            &::-ms-expand {
                display: none;
            }
            &:disabled {
                opacity: 0.5;
                pointer-events: none;
            }
        }
        // .select-arrow {
        //     &:after {
        //         content: "";
        //         width: 15.36px;
        //         height: 9.95px;
        //         background-image: url("../../../assets/images/icons/select-arrow@2x.png");
        //         background-size: cover;
        //         background-repeat: no-repeat;
        //         position: absolute;
        //         top: 15px;
        //         right: 12px;
        //     }
        // }
    }
    .control {
        display: block;
        position: relative;
        padding-left: 40px;
        margin-bottom: 15px;
        cursor: pointer;
        font-size: 22px;
        line-height: 26.4px;
        font-family: $brandonGrotesque;
        color: $midnightBlue;
        margin-bottom: 30px;
        input {
            position: absolute;
            z-index: -1;
            opacity: 0;
            left: 0;
            &:checked {
                ~ .control-indicator {
                    &:after {
                        width: 21px;
                        height: 21px;
                        background-image: url("../../../assets/images/icons/active-checkbox@2x.png");
                        background-repeat: no-repeat;
                    }
                }
            }
        }
        .control-indicator {
            position: absolute;
            width: 21px;
            height: 21px;
            left: 0;
            top: 2px;
            &:after {
                width: 21px;
                height: 21px;
                background-image: url("../../../assets/images/icons/checkobox@2x.png");
                background-repeat: no-repeat;
                content: '';
                position: absolute;
            }
        }
    }
    &.agree-checkbox {
        margin: 15px 0 37px 0;
        @include media-xs {
            margin: 0px 0 20px 0;
        }
        label {
            width: 100%;
            margin-left: 150px;
            @include media-sm {
                margin-left: 0;
            }
            @include media-md {
                margin-left: 0;
            }
            @include media-xs {
                margin-left: 0;
            }
            a {
                position: relative;
                color: $redRibbon;
                &:before {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 1px;
                    bottom: 0;
                    left: 0;
                    visibility: hidden;
                    -webkit-transition: all 0.3s ease-in-out 0s;
                    -moz-transition: all 0.3s ease-in-out 0s;
                    -ms-transition: all 0.3s ease-in-out 0s;
                    -o-transition: all 0.3s ease-in-out 0s;
                    transition: all 0.3s ease-in-out 0s;
                    background-color: $redRibbon;
                }
                &:hover {
                    &:before {
                        visibility: visible;
                        width: 100%;
                    }
                }
            }
        }
    }
    .input-group {
        width: 300px;
        display: inline-block;
        margin-bottom: 20px;
        @include media-xs {
            width: 100%;
        }
    }
    select {
        font-family: $brandonGrotesque;
        color: $midnightBlue;
        font-size: 22px;
        line-height: 26.4px;
        border: none;
        width: 300px;
        height: 40px;
        margin-bottom: 20px;
        @include media-xs {
            width: 100%;
        }
    }
    input[type="date"] {
        padding: 3px 10px;
        text-transform: initial;
        font-size: 22px;
        line-height: 26px;
    }
    input {
        font-family: $brandonGrotesque;
        color: $midnightBlue;
        font-size: 22px;
        line-height: 26.4px;
        border: none;
        width: 100%;
        padding: 6px 10px;
        @include media-xs {
            display: block;
        }
        &:focus {
            outline: none;
        }
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            font-family: $brandonGrotesque;
            color: #D9D9D9;
            font-size: 22px;
            line-height: 26.4px;
        }
        &::-moz-placeholder { /* Firefox 19+ */
            font-family: $brandonGrotesque;
            color: #D9D9D9;
            font-size: 22px;
            line-height: 26.4px;
        }
        &:-ms-input-placeholder { /* IE 10+ */
            font-family: $brandonGrotesque;
            color: #D9D9D9;
            font-size: 22px;
            line-height: 26.4px;
        }
        &:-moz-placeholder { /* Firefox 18- */
            font-family: $brandonGrotesque;
            color: #D9D9D9;
            font-size: 22px;
            line-height: 26.4px;
        }
    }
    label {
        font-family: $brandonGrotesque;
        color: $midnightBlue;
        font-size: 22px;
        line-height: 26.4px;
        text-align: left;
        display: inline-block;
        width: 150px;
        &:first-child {
            @include media-sm {
                margin-bottom: 10px;
            }
            @include media-md {
                margin-bottom: 10px;
            }
            @include media-xs {
                margin-bottom: 5px;
            }
        }
        
    }
    textarea {
        font-family: $brandonGrotesque;
        color: $midnightBlue;
        font-size: 22px;
        line-height: 26.4px;
        width: 100%;
        padding: 6px 13px;
        margin-bottom: 20px;
        &:focus {
            outline: none;
        }
        @include media-xs {
            width: 100%;
            height: 291px;
        }
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            font-family: $brandonGrotesque;
            color: #D9D9D9;
            font-size: 22px;
            line-height: 26.4px;
        }
        &::-moz-placeholder { /* Firefox 19+ */
            font-family: $brandonGrotesque;
            color: #D9D9D9;
            font-size: 22px;
            line-height: 26.4px;
        }
        &:-ms-input-placeholder { /* IE 10+ */
            font-family: $brandonGrotesque;
            color: #D9D9D9;
            font-size: 22px;
            line-height: 26.4px;
        }
        &:-moz-placeholder { /* Firefox 18- */
            font-family: $brandonGrotesque;
            color: #D9D9D9;
            font-size: 22px;
            line-height: 26.4px;
        }
    }
    &.mandatory {
        label {
            &:after {
                content: "*";
                position: relative;
                top: -2px;
                left: 3px;
                font-size: 15px;
                line-height: 15px;
            }
        }
    }
    input,
    select,
    textarea {
        border: 1px solid #D9D9D9;
    }
    .error-msg {
        display: none;
    }
    &.form-error {
        position: relative;
        input,
        select,
        textarea {
            border: 1px solid #a21a19;
        }
        .error-msg {
            display: inline-block;
            position: absolute;
            top: 3px;
            right: 10px;
            font-size: 16px;
            line-height: 18px;
            font-family: $brandonGrotesqueLight;
            color: #a21a19;
            @include media-xs {
                font-size: 12px;
                margin-left: 5px;
            }
        }
    }
}