.image-heading-text-container {
    text-align: center;
    position: relative;
    padding: 0;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $white;
    .image-heading-text-content {
        padding: 115px 0 56.3px 0;
        max-width: $contentWidth;
        margin: 0 auto;
        @include media-md {
            padding: 95px 10px 56.3px 10px;
        }
        @include media-sm {
            padding: 85px 20px 46.3px 20px;
        }
        @include media-xs {
            padding: 95px 20px 46.3px 20px;
        }
        img {
            max-width: 264px;
            max-height: 180px;
            margin: 0 auto 25px auto;
            display: block;
            @include media-xs {
                max-width: 156px;
                max-height: 106px;
            }
        }
        .text-content {
            margin-top: 7.2px;
            display: inline-block;
        }
        h2 {
            margin-bottom: 10px;
        }
        h3 {
            text-transform: uppercase;
        }
        p {
            color: $midnightBlue;
            font-family: $brandonGrotesque;
            font-size: 22px;
            line-height: 31px;
            margin: 0 auto 20px auto;
            display: block;
            width: 75%;
            @include media-xs {
                font-size: 20px;
                line-height: 29px;
            }
            b {
                font-family: $brandonGrotesqueBold;
            }
            @include media-sm {
                width: 100%;
            }
            @include media-md {
                width: 95%;
            }
            @include media-xs {
                width: 93%;
            }
        }
        i,
        em {
            position: relative;
            color: $midnightBlue;
            font-family: $brandonGrotesqueLight;
            display: inline-block;
            font-size: 18px;
            line-height: 18px;
            @include media-xs {
                font-size: 14px;
                line-height: 14px;
            }
            &:before {
                content: "*";
                position: absolute;
                top: 0;
                left: -5px;
            }
        }
        .column-icons-container {
            margin: 25px 0 17.8px 0;
            @include media-xs {
                margin: 20px 0;
            }
            .column-icons-item {
                display: inline-block;
                width: 33%;
                text-align: left;
                min-height: 94px;
                position: relative;
                vertical-align: top;
                &:after {
                    content: "";
                    background-image: url("../../../assets/images/icons/column-arrow@2x.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 43px;
                    height: 21px;
                    position: absolute;
                    top: 20px;
                    right: 34px;
                    @include media-xs {
                        display: none;
                    }
                    @include media-sm {
                        display: none;
                    }
                    @include media-md {
                        display: none;
                    }
                }
                &:last-child {
                    &:after {
                        display: none;
                    }
                    @include media-xs {
                        margin-bottom: 0;
                    }
                }
                @include media-xs {
                    width: 100%;
                    min-height: 68px;
                    margin-bottom: 15px;
                }
                @include media-sm {
                    width: 32.5%;
                }
                .img-container {
                    display: inline-block;
                    width: 51.78px;
                    height: 51.78px;
                    vertical-align: middle;
                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                    @include media-sm {
                        width: 46.78px;
                        height: 46.78px; 
                    }
                }
                .column-icons-content {
                    display: inline-block;
                    width: 221.35px;
                    vertical-align: middle;
                    padding-left: 10px;
                    @include media-sm {
                        width: 180px;
                        padding-left: 5px;
                    }
                    @include media-xs {
                        padding-left: 13px;
                        width: calc(100% - 60px);
                    }
                    p {
                        margin: 0;
                        width: auto;
                        @include media-sm {
                            font-size: 18px;
                            line-height: 26px;
                        }
                        @include media-xs {
                            font-size: 22px;
                            line-height: 31px;
                        }
                        b {
                            text-transform: uppercase;
                            font-family: $brandonGrotesqueBold;
                            font-size: 25px;
                            line-height: 36px;
                            @include media-sm {
                                font-size: 20px;
                                line-height: 30px;
                            }
                        }
                    }
                }
            }   
        }
    }
    .two-column-image-heading-text-container {
        max-width: $contentWidth;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        .two-column-image-heading-text-content {
            text-align: center;
            padding: 115px 0 56.3px 0;
            flex: 1 1 0%;
            width: auto;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: center; 
            position: relative;       
            @include media-md {
                padding: 95px 10px 56.3px 10px;
            }
            @include media-sm {
                padding: 100px 20px 46.3px 20px;
                flex: 1 1 100%;
            }
            @include media-xs {
                padding: 100px 20px 46.3px 20px;
                flex: 1 1 100%;
            }
            &:first-child {
                @include media-xs {
                    padding-bottom: 25px;
                }
                &:after {
                    content: "";
                    background: $midnightBlue;
                    height: 69%;
                    width: 1px;
                    position: absolute;
                    right: 0;
                    top: 115px;
                    @include media-xs {
                        height: 1px;
                        width: calc(100% - 40px);
                        top: initial;
                        left: 20px;
                        bottom: 0;
                    }
                    @include media-sm {
                        height: 1px;
                        width: calc(100% - 40px);
                        top: initial;
                        left: 20px;
                        bottom: 0;
                    }
                }
            }
            &:last-child {
                &:after {
                    display: none;
                }
                @include media-xs {
                    padding: 21px 0 36px 0;
                }
                @include media-sm {
                    padding-top: 46px;
                }
            }
            h2 {
                line-height: 30px;
                margin-bottom: 30px;
                @include media-xs {
                    font-size: 30px;
                    margin-bottom: 25px;
                }
                span {
                    display: block;
                    color: #39BCD9;
                    font-size: 25px;
                    line-height: 30px;
                    @include media-xs {
                        font-family: 20px;
                    }
                }
            }
            p {
                font-size: 18px;
                line-height: 26px;
                color: $midnightBlue;
                margin-bottom: 16px;
                @include media-xs {
                    font-size: 16px;
                    line-height: 23px;
                    margin-bottom: 10px;
                }
                b,
                strong {
                    font-family: $brandonGrotesqueBold;
                }
            }
            i,
            em {
                font-family: $brandonGrotesqueItalic;
                color: $midnightBlue;
                font-size: 14px;
                line-height: 20px;
                @include media-xs {
                    font-family: 12px;
                    line-height: 18px;
                }
            }
            img {
                max-width: 264px;
                max-height: 180px;
                margin: 0 auto 25px auto;
                display: block;
                @include media-xs {
                    max-width: 201px;
                    max-height: initial;
                }
            }
            .text-container {
                width: 80%;
                @include media-md {
                    width: 91%;
                }
            }
            .custom-btn {
                margin-top: 20px;
            }
        }
        .column-icons-container {
            margin: 25px 0 17.8px 0;
            padding: 0 20px;
            width: 100%;
            @include media-xs {
                margin: 25px 0 20px 0;
            }
            .column-icons-item {
                display: inline-block;
                width: 32.5%;
                text-align: left;
                // min-height: 94px;
                position: relative;
                vertical-align: top;
                @include media-xs {
                    min-height: 94px;
                }
                &:after {
                    content: "";
                    background-image: url("../../../assets/images/icons/column-arrow@2x.png");
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 43px;
                    height: 21px;
                    position: absolute;
                    top: 20px;
                    right: 34px;
                    @include media-xs {
                        display: none;
                    }
                    @include media-sm {
                        display: none;
                    }
                    @include media-md {
                        display: none;
                    }
                }
                &:last-child {
                    &:after {
                        display: none;
                    }
                    @include media-xs {
                        margin-bottom: 0;
                    }
                }
                @include media-xs {
                    width: 100%;
                    min-height: 68px;
                    margin-bottom: 15px;
                }
                @include media-sm {
                    width: 32.5%;
                }
                .img-container {
                    display: inline-block;
                    width: 51.78px;
                    height: 51.78px;
                    vertical-align: middle;
                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }
                    @include media-sm {
                        width: 46.78px;
                        height: 46.78px; 
                    }
                }
                .column-icons-content {
                    display: inline-block;
                    width: 221.35px;
                    vertical-align: middle;
                    padding-left: 10px;
                    @include media-sm {
                        width: 180px;
                        padding-left: 5px;
                    }
                    @include media-xs {
                        padding-left: 13px;
                        width: calc(100% - 60px);
                    }
                    p {
                        margin: 0;
                        width: auto;
                        font-size: 22px;
                        line-height: 28px;
                        color: $midnightBlue;
                        @include media-sm {
                            font-size: 18px;
                            line-height: 26px;
                        }
                        @include media-xs {
                            font-size: 22px;
                            line-height: 31px;
                        }
                        b,
                        strong {
                            text-transform: uppercase;
                            font-family: $brandonGrotesqueBold;
                            font-size: 25px;
                            line-height: 36px;
                            @include media-sm {
                                font-size: 20px;
                                line-height: 30px;
                            }
                        }
                    }
                }
            }   
        }
    }
}