.resetpw-form-wrapper {
    border: 1px solid $colorLightGrey;
    padding: 34px 8.5px 34px 8.5px;
    border-radius: 8px;

    @media screen and (min-width: $medium) {
        padding: 40px 30px;
        margin: 0px 25px;
    }
}

.resetpw-container {
    padding: 40px 8.5px 40px 8.5px;
    text-align: center;

    @media screen and (min-width: $medium) {
        width: 681px;
        margin-left: 50%;
        transform: translateX(-50%);
    }
}

.resetpw-heading {
    font-size: 34px;
    padding-bottom: 19px;
    color: $colorPrimary;
    font-family: $fontLilitaOne;
    line-height: 50px;

    @media screen and (min-width: $medium) {
        font-size: 42px;
    }
}


.resetpw-field-wrapper {
    margin-bottom: $gap;

    .resetpw-label {
        font-size: $textXXSmall;
        color: $colorLoginLabelColor;
        text-align: left;
        padding: 0px 0px 6px 5px;
    }

    .resetpw-input {
        width: 100%;
        border: solid 1px lightgrey;
        border-radius: 5px;
        padding-left: 10px;
        font-size: 16px;
        color: #707070;
        line-height: 30px;
        height: 37px; /* IE */
        @media screen and (min-width: $medium) {
            line-height: 35px;
        }
    }

    .resetpw-field-validation {
        display: block;
        text-align: left;
        font-size: 16px;
        color: $colorInvalidAlert;
        padding: 10px 0px 0px 0px;
    }
}

.resetpw-submit-btn {
    width: 100%;
    margin-bottom: $gap;
    color: $colorPrimary;
    font-family: $fontBarlow;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    height: 60px;
    background-color: $colorNavMenuHover;
    border: 1px solid $colorNavMenuHover;
}

.button:hover, .button:focus, .button:active {
    background-color: $colorNavMenuHover;
    border-color: $colorNavMenuHover;
    color: $colorPrimary;
    border-radius: 5px;
}

.resetpw-confirm {
    padding-bottom: 49px;
    font-family: $fontBarlow;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: $colorPrimary;

    a {
        color: $colorTextLinkColor;
        text-decoration: none;
    }

    @media screen and (min-width: $medium) {
        padding: 0px 42.5px 49px 42.5px;
    }
}
