.story-section-container {
    text-align: center;
    padding: 77px 0 50px 0;
    @include media-xs {
        padding: 30px 0 0 0;
    }
    .story-section-wrapper {
        display: flex;
        flex-flow: row wrap;
        max-width: $contentWidth;
        margin: 36px auto 0 auto;
        @include media-xs {
            padding: 0 20px;
        }
        .story-section-item {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
            flex-grow: 1;
            padding-bottom: 35px;
            // width: calc(100% * ( 1 / 3 ) );
            flex-basis: calc(100% / 3);
            flex: 1 0 30%;
            position: relative;
            @include media-xs {
                width: 100%;
                font-size: 0;
                display: block;
                padding-bottom: 25px;
                flex: 1 0 100%;
            }
            &:after {
                content: "";
                width: 100%;
                height: 1.3px;
                background-color: #D5D5D5;
                position: absolute;
                top: 26px;
                left: 50%;
                z-index: 0;
                @include media-xs {
                    left: 26px;
                    top: 0;
                    bottom: 50%;
                    height: 100%;
                    width: 1.3px;
                }
            }
            .year-content {
                position: relative;
                width: 52px;
                height: 52px;
                margin-bottom: 19px;
                z-index: 9;
                @include media-xs {
                    display: inline-block;
                    margin-top: 0;
                    vertical-align: top;
                }
                &:before {
                    content: "";
                    background-color: $redRibbon;
                    border-radius: 100%;
                    width: 52px;
                    height: 52px;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
            span {
                color: $white;
                font-size: 16px;
                line-height: 28px;
                z-index: 9;
                font-family: $brandonGrotesqueBlack;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                @include media-xs {
                    font-size: 16px;
                    line-height: 28pxpx;
                }
            }
            p {
                font-size: 18px;
                line-height: 21px;
                color: $midnightBlue;
                width: 82%;
                @include media-xs {
                    font-size: 16px;
                    line-height: 19.2px;
                    display: inline-block;
                    text-align: left;
                    padding: 0 19px;
                    vertical-align: top;
                    width: calc(100% - 52px);
                }
            }
            &:last-child {
                &:after {
                    display: none;
                    @include media-xs {
                        display: none !important;
                    }
                }
            }
            &:nth-child(3n+3) {
                &:after {
                    display: none;
                    @include media-xs {
                        display: block;
                    }
                }
            }
        }
    }
}