.unsubscribe-page-container {
    background-color: $redRibbon;
    height: 100%;
    min-height: 682px;
    @include media-xs {
        min-height: 450px;
    }
    .unsubscribe-page-content {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        max-width: $contentWidth;
        margin: 0 auto;
        text-align: center;
        padding-top: 100px;
        h2 {
            display: block;
            flex: 1 1 100%;
            margin-bottom: 22px;
        }
        h3 {
            display: block;
            flex: 1 1 100%;
            color: $white;
            line-height: 38px;
            margin-bottom: 25px;
        }
        p {
            display: block;
            width: 100%;
            color: #fff;
            font-size: 22px;
            line-height: 26.4px;
            margin-bottom: 25px;
            @include media-sm {
                padding: 0 20px;
            }
            @include media-xs {
                font-size: 20px;
                line-height: 24px;
                padding: 0 15px;
            }
        }
        span {
            display: block;
            width: 100%;
            color: #fff;
            font-family: $brandonGrotesqueBlack;
            text-transform: uppercase;
            font-size: 18px;
            line-height: 26.9x;
            @include media-xs {
                font-size: 16px;
                line-height: 24px;
            }
        }
        .btn-container {
            margin-bottom: 25px;
            display: block;
            width: 100%;
        }
        a {
            display: inline-block;
            margin: 0 auto;
            &.change-mail {
                color: #fff;
                font-family: $brandonGrotesqueBold;
                text-transform: uppercase;
                font-size: 16px;
                line-height: 24px; 
                position: relative;
                &:hover {
                    &:before {
                        visibility: visible;
                        width: 100%;
                    }
                }
                &:before {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 1px;
                    bottom: -2px;
                    left: 0;
                    visibility: hidden;
                    -webkit-transition: all 0.3s ease-in-out 0s;
                    -moz-transition: all 0.3s ease-in-out 0s;
                    -ms-transition: all 0.3s ease-in-out 0s;
                    -o-transition: all 0.3s ease-in-out 0s;
                    transition: all 0.3s ease-in-out 0s;
                    background-color: #ffffff;
                }
            }
        }
        .form-group {
            margin: 0 auto 10px auto;
        }
    }
}