//
// Animations
//

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

//
// Video Gallery
//

.video-gallery {
    background-color: #F0F0F0;
    overflow: hidden;
    text-align: center;

    &-border {
        height: 33px;
        background: #FFF url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAWsAAAAhCAYAAAFo9bpQAAAACXBIWXMAAAsTAAALEwEAmpwYAAAGimlUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS42LWMxNDUgNzkuMTYzNDk5LCAyMDE4LzA4LzEzLTE2OjQwOjIyICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdEV2dD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlRXZlbnQjIiB4bWxuczpwaG90b3Nob3A9Imh0dHA6Ly9ucy5hZG9iZS5jb20vcGhvdG9zaG9wLzEuMC8iIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMvMS4xLyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ0MgMjAxOSAoV2luZG93cykiIHhtcDpDcmVhdGVEYXRlPSIyMDE5LTA1LTA5VDEyOjI3OjMyLTAzOjAwIiB4bXA6TWV0YWRhdGFEYXRlPSIyMDE5LTA1LTA5VDEyOjI3OjMyLTAzOjAwIiB4bXA6TW9kaWZ5RGF0ZT0iMjAxOS0wNS0wOVQxMjoyNzozMi0wMzowMCIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpkYTY0MzBmNy03NWRhLTY3NDUtYTgxMi1hMDgwOTk5ZjU4ZmUiIHhtcE1NOkRvY3VtZW50SUQ9ImFkb2JlOmRvY2lkOnBob3Rvc2hvcDplZDg4ZTYxMi03NjI0LWY4NDYtODIyZC1kNjU0MjJkMDgwODkiIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDo3MmM4ODIxYy02NDk5LWQ4NDEtYjk4Ni1jYjg1ZGI3NzEwYjkiIHBob3Rvc2hvcDpDb2xvck1vZGU9IjMiIHBob3Rvc2hvcDpJQ0NQcm9maWxlPSJzUkdCIElFQzYxOTY2LTIuMSIgZGM6Zm9ybWF0PSJpbWFnZS9wbmciPiA8eG1wTU06SGlzdG9yeT4gPHJkZjpTZXE+IDxyZGY6bGkgc3RFdnQ6YWN0aW9uPSJjcmVhdGVkIiBzdEV2dDppbnN0YW5jZUlEPSJ4bXAuaWlkOjcyYzg4MjFjLTY0OTktZDg0MS1iOTg2LWNiODVkYjc3MTBiOSIgc3RFdnQ6d2hlbj0iMjAxOS0wNS0wOVQxMjoyNzozMi0wMzowMCIgc3RFdnQ6c29mdHdhcmVBZ2VudD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTkgKFdpbmRvd3MpIi8+IDxyZGY6bGkgc3RFdnQ6YWN0aW9uPSJzYXZlZCIgc3RFdnQ6aW5zdGFuY2VJRD0ieG1wLmlpZDpkYTY0MzBmNy03NWRhLTY3NDUtYTgxMi1hMDgwOTk5ZjU4ZmUiIHN0RXZ0OndoZW49IjIwMTktMDUtMDlUMTI6Mjc6MzItMDM6MDAiIHN0RXZ0OnNvZnR3YXJlQWdlbnQ9IkFkb2JlIFBob3Rvc2hvcCBDQyAyMDE5IChXaW5kb3dzKSIgc3RFdnQ6Y2hhbmdlZD0iLyIvPiA8L3JkZjpTZXE+IDwveG1wTU06SGlzdG9yeT4gPHBob3Rvc2hvcDpEb2N1bWVudEFuY2VzdG9ycz4gPHJkZjpCYWc+IDxyZGY6bGk+eG1wLmRpZDo3MzEwZjE2My1iMWZiLTA1NGItYjYyZS1hYTdmNmY2OTdmM2E8L3JkZjpsaT4gPC9yZGY6QmFnPiA8L3Bob3Rvc2hvcDpEb2N1bWVudEFuY2VzdG9ycz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4XU/URAAAOk0lEQVR4nO2debQcRRWHv3khD7In7GAEAgk7IYpIWILIEiMB2XdZjojAOZIEEAE5QURcIEiiqKwKQVEJLggIhy0iKqJoQFAwoCICIYQAkwQiIcvzj98006+nuququ/rNvDDfOTl50119u6am+lbVrXtvV6rVKoGYAUwJJcxGR+3/54CuxLmu2L+s42vW/p6cUXaYRe6U2ueVlnLvfo4qvlnsBJgrYDr+EeBth7Kvp1zfBxgPTK997kgptz0wO36PSq2rxAtWDBeCWqOP4biJtWj8QkHpAH6ZOGaqNLhXGkquNEAl0MPZD/hfCEEuxPtTvJX7x459LXY8/rCsGzu21CDDJDd+/VGO5eYkj1eq1WqyX0cnSRw/Frg5cXw08ETi2JvAoISMDmAVjSSfozuAA23l1kicTOvTexsqDI0VBhhokGOqsOl+pgoDnBv/kGzpXkHyQXwIGEe9m6TxIvC+SIal7LPAyNjnfjRqmLWB10z1s8geDNwEHJxRZmntnhGXA+dY5GZxJzAx9vlLwEUpZQ8HDgGOg+6NbeopyS+b1ZuSZVdSV1BZ5V16qGs9Kg5lTGX/CWwRUJ6p7CFpo3/EmbX/H3a4WVLbZjV0VMZVFUTlZluuudtD7jsx2aaGjs495Cjvzdg1Jn5RqVar+wD3Owhz4b/AJoFkrXaEmjyFYgrwEnBrk+tRCslHPXpsstiO+qN6scM9uhL/sspMB2bV/v60g+wrLeX6Ot7fBx95dwNDow9ZA6RpJuAyMEX0AVY4lM+q8GJgiOF4J7DMUodngFEO90+rR7LMYjQJd5H3JFr1RnwQeCxrgBxoqYztXFpDQ33CfkJGGdDU7vLEseE0NjTA1ER90hoa4KuJz6b6x4+9Q3pDAyyJ/T2B7g0NtSWZycQQJ/rFdgd+l3EzUG9bbqhoGmmmjKx62GRXgPnABh4ybfImorl1UXmVDuDHDoJsDQ31qdTzDmV9iepo+3E2xq2hI5Y6lHFp6Ii7Ms5Nsi17K6gR+zrezKe3+hjjysDFwPc0sI2jPNt3f8q28NgV94aG+sTehWY2NLgZJV0bGuAwy/lte6VBp5eyqNUWNXkZiBZCE2qflwCnALfkkPUF4Csp5/4IjM0hs2zWBr4PHFT7/BaaxV3UrAoZ6EDGy35orFxAfZwv5WYmVtK4UOrCbvE08VaKrPi//XLIjcajLtSRJ8TODQJ+Eju/rUXWNrGyaZ0aYJdYuX/kqHPEy5jbIWtpkGRy7LrXqHdqgAHAF2Pnf5Ojjjca6ufznaclrl2JTGdzgRfQUik696qH3EsM9eoCLo0XSmrsCWg1n8UTwI6WMhXSN2ay2A83+2PeId3HAOHKy2h2b2N94BVHmVkKxGci7iMXNNHd2kHOdcBnUs4Vac9NUec3cR+wr4OMCnTX2Gdg79SgbdJnMs4/Rr5ODar8Cxnn/06xhkteG2LOu1FNTmfK+SG1866dGsz1ikbRvJ06TS5oidyFW6cGTfP2TBx7IkO+K2mmhy7cOjXU7EVRxx4IfMujAqNo3JKPKjDGQ46J4cgnwCTbNqVwIRqWqwFkxVlGY5usLHCfSCPOwG2L0ZX4/kM0nZuYUjaL+PSmC9ihSKViXJ/47PuwrAGsY7OuZvEqGl5BJudFOWRkEQ2bw8nW4nmYhN+D7EMFab6nC8op00ZXQZ4clxWU04fubo6h8HG6MDGrUq1WszauXCqwB/DbnNdn8W3U8Glzrlal2Ubj1QEfI72JRZVqtXo+jZtxbdr0alYXO3YZ7Ivmnm8AV+FnkmrTREItRprNyXT3vr8D88LWRn/k/dCFrDNTkBfwgtqxjwaoaxmchh666Pv/gXALuVAMAzZHUURDy7xRWqceTXej904F7zM9Ia8LmQqHF5S7a03W9XR3bz8AmXtmeMi6BW0iZXmZzMbPXyCLY5B57RrqoTG+TEXf/6qEjLHI7LaKdPNjT7AndfPk68C/UEzfG7VjS1Gcni/DgG8CDwKnJ0+aph+HAT81CLraJMDCZ5FLaRbzqMeG+DAD7bjZeJ56jGEarr5pcbYi24afxnjgHsPxZ4EtHWVUkIOLa4ddE78t69Eo0mFA4vg43Nzg1kIKwnUmMBp5ndroi5SK6Xu/u+GU7NQ2M90pNNoV07gXv61xn+35m1FMnStZHXsO8AEPWXHGIn8RV35ILWAphefQEJ3FNsBTHveMcGnfDtRp+mWUmUi23+LHLefTsD1466FpYBrLqXX25JNksztfh9su1w/w9/VwtX1egV+HBm3Lnms4Po78HRrgEdxHmcfJ7tAAIyxlTiBfhwb4huX8cPQbZHVogF9lnDudfB0asvveGmR3aFC//BR019RTqIfi224+NOP8IcDPHeSYuJP04F1wdzlPwydis4jcJGkRlD7yXKZyeeSC/2aXKSQ3RDzhIMxrFp/fqRLX1C4dGuTfkNY4neTv0KAFXpqmGECxDg3dv+P+BWXFyZpbP45fhwa1Q5zDKd6hwfydO/Dfvf1c4nM/wgTI3mQ4drWnjPUiTZ22eEnjQuDLhuOryOe6GuclzFaR0Fo1tFP/OtST0kTMxB7hZuIN5EMNioAOFXdUpXvGHwjjCRmyLYuOpjMjTZ3MiWPDND+9xFChPJjmqLcFkBunf2B50DjX3Yd8HRq6d7yQgXRDE5/zzn+hbhn5TgEZNh7Jcc2JRZybKom/87qgmjiSesh/f2QeCsWmwA0owU9oKrH/i7ZHBViIRoCQDED24VHkM0lG7As8QPgRryMmM5fsDsKEL80LICPOBbG/TfmIinAA5XRoqAczuoT+2vg84Ts0KJwNinVo0LQoryUmiyi6aWZeAR3A+TmvjcxqWwAb5q1AClHEzUhkyA+JzaxWhBuBTxKmzpfai+TiPOz5YFwYhl/0siufqP2fd+pGpVqt5g0behT4MOGHnwjf3AJtVg9eRpt8uS1dRUP7j0cbLWUwDFkB2rz3yBsADrR2AtIlZCdRatPGSCu7nrY7dJtctIMEWpMOZHocihadryB7dRmxgS50Aocid9n9SN/1XYH80C9DbqFt8jOE+n7FW8gKGNJs3qaXkVdZ7wDsjKx585GbbVHTZ0i2RpmKRyLFsgo5es1D7hitFNe7FnKnOBv3oJBnkI/TfSXVCWT9nIbSnRThVvT9WqnNW4lN0NbMifjFTNyLArMeLqNSvYyNgaOR5/Me2K3qc4EfIdcimwNoy+CjrI9CvlRZMRerUAqViynPip1kBHqP0JH4G4OWox/sQsKnvLExCXmIF02u8Ce0beGTGyqNESh/11YBZJm4HSmlaknysxiEtp8m0ZiwPeJt1B+mEi54z8QYtF1nS+7nyn1o5VNmneMMQIpxT/RdNkCToleAv6Lf+S7yJ2KxMQY9O6Eih59E2SqfCyQvySi01X006avSRcBZKB2sERdlvSMavX1d3KYhR4Yy6AS+h/amQ7EKzQBdHczz0AcpA5f3hviyEM0q5ua4djj6jd8ftEbpVJGzh09MXB4qSPFehP9AvhDYDQWRhmAomuxkRcMUZSZwUglyN0f+G4d7XrcSDc6mVwT6siUK2tgugKw0FqD0x/8JIGsdFPS9V45rJ2NIK2dT1jdQ7MdfhjwCHy8gI04nGrU/FkheGmcRVmlXUKznyQFlpnEPinZxtW9Opwffg5xgMZodzbEV9GQIygMzLoCs21C4Yl7Go4e2pzYWX0Pmv2pBOUOQks2TWDTJQrRaSwbUuHASenby5PTJS9bbP20MRakZk6+M8mUOMjW/+xynKetOtDRwTUth42y0bCnCVNzekheKhWi59VJBOVMod7ZuYil6OF7MKNOBTChF8xaF4DGUp8j0zjYfhqONTd8QURsLkAJcYisY43Tgu4Hr4coylCFkfo5rR6JYkNDvVV2JzGyu4bHHId/JEMF1ebgSmcx8uBzpulD8Gz3HK8CsrPvVCoUOBTiHxpcqurAFGmUGh62OM8egt834sh3KctcsV60u1HYmO1wFDcZlLinzsA9K9ubLBsDvCa+k4yxEG1nLLeVOAa4tsR6uLEARwK5240FoRhjKjm5iAWrDLK+mUSh6Y0iJ9XDlRMw5D5IMRtnqXV6o48vt1N7+lPRHjR7i0IoaZMP2TZF0GcoO0yxFDXqv6Vme19wI/I3m+tRWgL9g3sC8n9ZT1KAZnc8+RyeKV5tPuYoalJUzK5hyLNqgbAVFDXoNiIuiAS37F1OuogbVaWrG+WuQp1MrKGrQ7Nrmsz8GmZzKUNQg54HjoHFmPQs4oqSbgnatxzuUWxPtKpfllZCHIzBniY2zIXrb2NqWcj1JcqP3SuT218pMRfllsjgPeQH1NNuj3ziiE7mu7tyEuriwB1p1mFgfpYL2zQRcBFMSqyFoZlrUTbQMTiV9APZNDpaXF4BN4qPGsZSrqEEBFR+ylNkRuSC1kqIG+WVmjfiHoSDpVlLU0P29nyfR+ooalO0uLQ3ixshFrBmKGmTmiDgI2YdbVVFDehaOyagde1JRg0wz8Wd7JxR734qKGmpJdg3sRc8oapCX1t6Rsu5DuRnT4mSl1jkeeY705M6vK31JVxCXYJ91N4shyBa8EXJ37C3MotEndTKama3fWLzHOBCZmO4lfAbIMtid7u8X7oNm2jOaUhsReUocBPyZ5m0iurALja9z2AH4dQ/XY/9IWftEzxXlUMz2xWm429iaxak02qGvpXtywFbkAOSG1co5M5IMQK6joId5Ns1VMBGbo00731dpNJPIi2oUWrXu1sS6gGaKR9M7BjuAg2N/r4s2QHuaXSOb9VzCuem5kHSL+RlS4r2BM9DrqCF/4vU27pwMfB297KhNfq6lu0msmbxI8VdS9iQPoniADvRqxc2aUId5lWq1OgK56vUky5GHxzLk62uzY7cSD6Bl5RXAmU2uS5s2bXqGwciFN+QrpXxY2YHi+3uavkjRPU/vUtSgjYULaCvqNm3eSzxK8xQ1QJ9KtVq9CjitiZVo06ZNmzbZrPg/ZnSI62PM2ygAAAAASUVORK5CYII=') top center repeat-x;
    }

    &-title {
        margin: 4rem 0 0 0;
        padding: 0;
        text-transform: uppercase;
        font-family: "Brandon Grotesque Black", sans-serif;
        font-size: 42px;
        color: #002D5F;
    }

    &-feeder {
        margin: 1rem 0 4rem 0;

        & > span {
            text-transform: uppercase;
            font-family: "Brandon Grotesque Bold", sans-serif;
            font-size: 16px;
            font-weight: bold;
            color: #E90A4D;
            cursor: pointer;
        }
    }

    &-content {
        & > .feature-item-wrap {
            display: none;
            margin-bottom: 0.25rem;

            &--visible,
            &:first-child {
                display: flex;
            }

            &--visible {
                animation: fadeIn 1s;
            }
        }
    }

    &-card {
        position: relative;
        width: 100%;

        &--open:before {
            display: block;
            position: absolute;
            left: 50%;
            top: -4rem; // Using "top" for IE compatibility.
            width: 0;
            height: 0;
            margin-left: calc(-48px/2);
            border-left: 24px solid transparent;
            border-right: 24px solid transparent;
            border-top: 24px solid #fff;
            animation: fadeIn 1s;
            content: '';

            @media (max-width: 768px) {
                display: none;
            }
        }

        &-thumbnail {
            position: relative;
            min-height: 220px;
            background-color: #FCBE4F;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            user-select: none;
            cursor: pointer;

            & > img {
                width: 100%;
                height: auto;
                max-height: 220px;
                object-fit: cover;
            }
        }

        &-description {
            margin: 0.5rem 0;
            font-family: "Brandon Grotesque Regular", sans-serif;
            font-size: 18px;
            color: #002D5F;
        }

        &-time {
            position: absolute;
            right: 0.625rem;
            bottom: 0.625rem;
            width: 65px;
            height: 21px;
            background-color: RGBA(0, 0, 0, 0.7);
            line-height: 21px;
            letter-spacing: 2px;
            font-family: "Brandon Grotesque Bold", sans-serif;
            font-size: 12px;
            color: #FFF;
        }
    }

    &-viewport {
        display: none;
        position: relative;
        margin: 4rem 0;
        padding: 5rem 6.25rem;
        background-color: #FFF;

        &--open {
            display: block;
        }

        @media (max-width: 768px) {
            top: -1.6rem;
            right: 0;
            margin: 4rem 0 0 0;
            padding: .5rem;
            background-color: #FFF;
        }

        &-close {
            position: absolute;
            top: .75rem;
            right: 1rem;
            cursor: pointer;

            @media (max-width: 768px) {
                top: -1.6rem;
                right: 0;
                padding: 0 .25rem;
                background-color: #FFF;
            }
        }
    }

    &-player {
        &-content {
            position: relative;
            min-height: 570px;
            background-color: #FCBE4F;
            user-select: none;

            @media (max-width: 768px) {
                display: flex;
                min-height: auto;
            }

            & > iframe {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;

                @media (max-width: 768px) {
                    position: relative;
                    height: calc(100vh - 150px);
                    max-height: 300px;
                }
            }
        }

        &-footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 95px;
            padding: 0 2rem;
            background-color: #002F5D;
            text-align: left;
            font-family: "Brandon Grotesque Regular", sans-serif;
            color: #FFF;

            @media (max-width: 768px) {
                display: none;
            }
        }

        &-icons {
            display: flex;
            align-items: center;
            text-transform: uppercase;

            & > span {
                font-size: 16px;
                font-weight: bold;
            }

            & > a > img {
                margin-left: 1rem;
            }
        }
    }
}
