.img-text-wrap {
    display: flex;
    /*align-items: center;*/
    justify-content: space-between;
    flex-flow: row wrap;

    &.img-text-flipped {
        flex-flow: row-reverse wrap;
    }
}

.img-text-image {
    flex: 0 1 100%;
    padding-bottom: 20px;

    @media screen and (min-width: $medium) {
        flex: 0 1 40%;
    }
}

.img-text-text {
    flex: 1 1 auto;
    text-align: center;

    @media screen and (min-width: $medium) {
        flex: 1 1 0%;
        text-align: left;
        padding-left: 25px;
    }
}




